---
version: 1
interactions:
- request:
    body: '{"fields":["summary"],"jql":"resolution = unresolved AND project = ''JRACLOUD''","maxResults":100}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://jira.atlassian.com/rest/api/2/search
    method: POST
  response:
    body: '{"expand":"schema,names","startAt":0,"maxResults":100,"total":5918,"issues":[{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"1855879","self":"https://jira.atlassian.com/rest/api/2/issue/1855879","key":"JRACLOUD-78435","fields":{"summary":"Viewing
      a DateTime Field in Dashboard Ignores the Users Timezone"}},{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"1855967","self":"https://jira.atlassian.com/rest/api/2/issue/1855967","key":"JRACLOUD-78434","fields":{"summary":"Field
      description is sometimes not available"}},{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"1855873","self":"https://jira.atlassian.com/rest/api/2/issue/1855873","key":"JRAC[...]
