---
version: 1
interactions:
- request:
    body: '{"fields":["summary"],"jql":"resolution = unresolved","maxResults":100}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://jira.atlassian.com/rest/api/2/search
    method: POST
  response:
    body: '{"expand":"schema,names","startAt":0,"maxResults":100,"total":58469,"issues":[{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"1857091","self":"https://jira.atlassian.com/rest/api/2/issue/1857091","key":"SRCTREEWIN-13787","fields":{"summary":"Default
      for Production branch in GitFlow should be main not master"}},{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"1856992","self":"https://jira.atlassian.com/rest/api/2/issue/1856992","key":"SRCTREEWIN-13786","fields":{"summary":"OAuth
      Fails, Unable to get Secret"}},{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"1855509","self":"https://jira.atlassian.com/rest/api/2/issue/1855509","key":"SRCTREEWIN-13784","fields":{"summary":"Launch
      SSH agent fails code -1 with system git and OpenSSH"}},{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"1855057","self":"https://jira.atlassian.com/rest/api/2/issue/1855057","key":"SRCTREEWIN-13783","fields":{"summary":"case
      sensitivity"}},{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"1854676","self":"https://jira.atlassian.com/rest/api/2/issue/1854676","key":"SRCTREEWIN-13782","fields":{"summary":"Sourcetree
      error: Too many invalid password attempts. The requested URL returned error:
      403"}},{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"1854539","self":"https://jira.atlassian.com/rest/api/2/issue/1854539","key":"SRCTREEWIN-13779","fields":{"summary":"Typing
      Commit Messages"}},{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"1854452","self":"https://jira.atlassian.com/rest/api/2/issue/1854452","key":"SRCTREEWIN-1377[...]
