---
version: 1
interactions:
- request:
    body: '{"fields":["summary","issuetype","status","assignee"],"jql":"resolution
      = unresolved AND project = ''JRACLOUD'' ORDER BY assignee","maxResults":20}'
    form: {}
    headers:
      Auth:
      - Basic dGVzdGluZzpoZWxsbyB0aGlzIGlzIHBhc3N3b3Jk
      Content-Type:
      - application/json
    url: https://jira.atlassian.com/rest/api/2/search
    method: POST
  response:
    body: '{"expand":"schema,names","startAt":0,"maxResults":20,"total":5943,"issues":[{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"1145881","self":"https://jira.atlassian.com/rest/api/2/issue/1145881","key":"JRACLOUD-71858","fields":{"summary":"Deleting
      a scheme with associated projects in global permission settings gives an error","issuetype":{"self":"https://jira.atlassian.com/rest/api/2/issuetype/10000","id":"10000","description":"","iconUrl":"https://jira.atlassian.com/secure/viewavatar?size=xsmall&avatarId=51505&avatarType=issuetype","name":"Suggestion","subtask":false,"avatarId":51505},"assignee":{"self":"https://jira.atlassian.com/rest/api/2/user?username=asinha%40atlassian.com","name":"asinha@atlassian.com","key":"asinha@atlassian.com","avatarUrls":{"48x48":"https://jira.atlassian.com/secure/useravatar?ownerId=asinha%40atlassian.com&avatarId=5801260","24x24":"https://jira.atlassian.com/secure/useravatar?size=small&ownerId=asinha%40atlassian.com&avatarId=5801260","16x16":"https://jira.atlassian.com/secure/useravatar?size=xsmall&ownerId=asinha%40atlassian.com&avatarId=5801260","32x32":"https://jira.atlassian.com/secure/useravatar?size=medium&ownerId=asinha%40atlassian.com&avatarId=5801260"},"displayName":"Abhinaya
      Sinha","active":true,"timeZone":"UTC"},"status":{"self":"https://jira.atlassian.com/rest/api/2/status/11772","description":"This
      suggestion needs more unique domain votes and comments before being reviewed
      by our team.","iconUrl":"https://jira.atlassian.com/images/icons/statuses/generic.png","name":"Gathering
      Interest","id":"11772","statusCategory":{"self":"https://jira.atlassian.com/rest/api/2/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To
      Do"}}}},{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"1743219","self":"https://jira.atlassian.com/rest/api/2/issue/1743219","key":"JRACLOUD-76313","fields":{"summary":"Log
      Work in the resolution screen does not honour timezone of User''s profile","issuetype":{"self":"https://jira.atlassian.com/rest/api/2/issuetype/1","id":"1","description":"A
      problem which impairs or prevents the functions of the product.","iconUr[...]
