---
version: 1
interactions:
- request:
    body: '{"fields":["summary"],"jql":"resolution = unresolved","maxResults":100}'
    form: {}
    headers:
      Authorization:
      - Basic dGVzdGluZzpoZWxsbyB0aGlzIGlzIHBhc3N3b3Jk
      Content-Type:
      - application/json
    url: https://jira.atlassian.com/rest/api/2/search
    method: POST
  response:
    body: "\n\n\n\n\n\n\n\n\n\n\n<html>\n\n<head>\n    <title>Unauthorized (401)</title>\n
      \   \n\n\n\n<!--[if IE]><![endif]-->\n<script type=\"text/javascript\">\n    (function()
      {\n        var contextPath = '';\n\n        function printDeprecatedMsg() {\n
      \           if (console && console.warn) {\n                console.warn('DEPRECATED
      JS - contextPath global variable has been deprecated since 7.4.0. Use `wrm/context-path`
      module instead.');\n            }\n        }\n\n        Object.defineProperty(window,
      'contextPath', {\n            get: function() {\n                printDeprecatedMsg();\n
      \               return contextPath;\n            },\n            set: function(value)
      {\n                printDeprecatedMsg();\n                contextPath = value;\n
      \           }\n        });\n    })();\n\n</script>\n<script>\nwindow.WRM=window.WRM||{};window.WRM._unparsedData=window.WRM._unparsedData||{};window.WRM._unparsedErrors=window.WRM._unparsedErrors||{};\nWRM._unparsedData[\"com.atlassian.plugins.atlassian-plugins-webresource-plugin:context-path.context-path\"]=\"\\\"\\\"\";\nWRM._unparsedData[\"jira.core:feature-flags-data.feature-flag-data\"]=\"{\\\"enabled-feature-keys\\\":[\\\"com.atlassian.jira.rest.v2.search.UserListResolver.getShareCount.disabled\\\",\\\"com.atlassian.jira.agile.darkfeature.editable.detailsview\\\",\\\"nps.survey.inline.dialog\\\",\\\"com.atlassian.jira.agile.darkfeature.edit.closed.sprint.enabled\\\",\\\"com.atlassian.jira.plugins.hipchat.glances\\\",\\\"jira.plugin.devstatus.phasetwo\\\",\\\"jira.frother.reporter.field\\\",\\\"atlassian.rest.xsrf.legacy.enabled\\\",\\\"com.atlassian.jira.application.active.users.count.cache.asynchronous\\\",[...]
