---
version: 1
interactions:
- request:
    body: '{"fields":["summary","assignee","created","priority","status","summary","updated","issuetype","resolution"],"jql":"resolution
      = unresolved AND project = ''JRACLOUD'' ORDER BY assignee","maxResults":101}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://jira.atlassian.com/rest/api/2/search
    method: POST
  response:
    body: '{"expand":"schema,names","startAt":0,"maxResults":101,"total":5947,"issues":[{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"1145881","self":"https://jira.atlassian.com/rest/api/2/issue/1145881","key":"JRACLOUD-71858","fields":{"summary":"Deleting
      a scheme with associated projects in global permission settings gives an error","issuetype":{"self":"https://jira.atlassian.com/rest/api/2/issuetype/10000","id":"10000","description":"","iconUrl":"https://jira.atlassian.com/secure/viewavatar?size=xsmall&avatarId=51505&avatarType=issuetype","name":"Suggestion","subtask":false,"avatarId":51505},"created":"2019-04-08T01:34:46.000+0000","assignee":{"self":"https://jira.atlassian.com/rest/api/2/user?username=asinha%40atlassian.com","name":"asinha@atlassian.com","key":"asinha@atlassian.com","avatarUrls":{"48x48":"https://jira.atlassian.com/secure/useravatar?ownerId=asinha%40atlassian.com&avatarId=5801260","24x24":"https://jira.atlassian.com/secure/useravatar?size=small&ownerId=asinha%40atlassian.com&avatarId=5801260","16x16":"https://jira.atlassian.com/secure/useravatar?size=xsmall&ownerId=asinha%40atlassian.com&avatarId=5801260","32x32":"https://jira.atlassian.com/secure/useravatar?size=medium&ownerId=asinha%40atlassian.com&avatarId=5801260"},"displayName":"Abhinaya
      Sinha","active":true,"timeZone":"UTC"},"resolution":null,"updated":"2021-07-16T22:41:53.000+0000","status":{"self":"https://jira.atlassian.com/rest/api/2/status/11772","description":"This
      suggestion needs more unique domain votes and comments before being reviewed
      by our team.","iconUrl":"https://jira.atlassian.com/images/icons/statuses/generic.png","name":"Gathering
      Interest","id":"11772","statusCategory":{"self":"https://jira.atlassian.com/rest/api/2/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To
      Do"}}}},{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"1743219","self":"https://jira.atlassian.com/rest/api/2/issue/1743219","key":"JRACLOUD-76313","fields":{"summary":"Log
      Work in the resolution screen does not honour timezone of User''s profile","issuetype":{"self":"https://jira.atlassian.com/rest/api/2/issuetype/1","id":"1","description":"A
      problem which impairs or prevents the functions of the product.","iconUrl":"https://jira.atlassian.com/secure/viewavatar?size=xsmall&avatarId=51493&avatarType=issuetype","name":"Bug","subtask":false,"avatarId":51493},"created":"2021-03-31T09:45:01.000+0000","assignee":{"self":"https://jira.atlassian.com/rest/api/2/user?username=89cd0d4da332","name":"89cd0d4da332","key":"JIRAUSER4829922","avatarUrls":{"48x48":"https://jira.atlassian.com/secure/useravatar?ownerId=JIRAUSER4829922&avatarId=6546420","24x24":"https://jira.atlassian.com/secure/useravatar?size=small&ownerId=JIRAUSER4829922&avatarId=6546420","16x16":"https://jira.atlassian.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER4829922&avatarId=6546420","32x32":"https://jira.atlassian.com/secure/useravatar?size=medium&ownerId=JIRAUSER4829922&avatarId=6546420"},"displayName":"Ace","active":true,"timeZone":"Australia/Sydney"},"priority":{"self":"https://jira.atlassian.com/rest/api/2/priority/4","iconUrl":"https://jira.atlassian.com/images/icons/priorities/low.svg","name":"Low","id":"4"},"resolution":null,"updated":"2021-04-26T06:00:51.000+0000","status":{"self":"https://jira.atlassian.com/rest/api/2/status/12073","description":"A
      fix for this issue is required, but planned for farther in the future. This
      is because it’s not as severe or pervasive as other issues.","iconUrl":"https://jira.atlassian.com/images/icons/s[...]
